<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AmbientContext" version="2.1.1" targetFramework="net45" />
  <package id="Serilog" version="2.2.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net461" />
  <package id="StatsdCsharpClient" version="1.4.6" targetFramework="net461" />
</packages>